---
permalink: /tags/
layout: home.njk
eleventyNavigation:
  key: Tags
  order: 3
---
<h1>Tags</h1>

<ul class="tag-cloud">
{% for tag in collections.tagList %}
  {% if tag == "pageOfThoughts" %}
  {% else %}
    {% set tagUrl %}/tags/{{ tag }}/{% endset %}
    <li>
      <a href="{{ tagUrl | url }}" class="post-tag">{{ tag }}</a>
    </li>
  {% endif %}
{% endfor %}
</ul>
