<nav class="post-navigation" role="navigation">
  <div class="row">

    <div class="col shrink-to-link">
      <div class="post-nav-prev">
        {% set previousPost = collections.posts | getPreviousCollectionItem(page) %}
        {% if previousPost %}
        <a href="{{ previousPost.url | url }}" title="{{ previousPost.title }}">
          <div class="post-nav-btn">
            <div class="post-nav-text">
              <span class="primary-text-color"><i class="fa fa-angle-left"></i></span>&nbsp;
              <span class="hidden-md primary-text-color">Older</span>
            </div>
          </div>
        </a>
        {% else %}
          <div class="post-nav-btn">
            <div class="post-nav-text">
              <span class="hidden-md">The end!</span>
            </div>
          </div>
        {% endif %}
      </div>
    </div>

    <div class="col shrink-to-link">
      <a href="{{ "/" | url }}">
        <div class="leonids-icon">
          <i class="fas fa-glasses"></i>HOME
        </div>
      </a>
    </div>

    <div class="col shrink-to-link">
      <div class="post-nav-next">
        {% set nextPost = collections.posts | getNextCollectionItem(page) %}
        {% if nextPost %}
        <a href="{{ nextPost.url | url }}" title="{{ nextPost.title }}">
          <div class="post-nav-btn">
            <div class="post-nav-text">
              <span class="hidden-md primary-text-color">Newer</span>
              <span class="primary-text-color">&nbsp;<i class="fa fa-angle-right"></i></span>
            </div>
          </div>
        </a>
        {% else %}
          <div class="post-nav-btn">
            <div class="post-nav-text">
              <span class="hidden-md">The end!</span>
            </div>
          </div>
        {% endif %}
      </div>
    </div>

  </div>
</nav>
