---
layout: base.njk
---
<a class="btn" href="{{ metadata.url }}" >
  Home
</a>

<div id="post">
  <header class="post-header">
    <h1 title="{{ title }}">{{ title }}</h1>
    <span class="post-meta">

      <time class="post-date" datetime="{{ page.date | htmlDateString }}">
        {{ page.date | readableDate | upper }}
      </time>

      {% if tags.length > 0 %}
      •
      {% for tag in tags %}
        {%- if collections.tagList.indexOf(tag) != -1 -%}
          {% set tagUrl %}/tags/{{ tag }}/{% endset %}
          <a class="post-tag" href="{{ tagUrl | url }}">{{ tag }}</a>
        {% if not loop.last %}
        <span>•</span>
        {% endif %}
        {% endif %}
      {% endfor %}
      {% endif %}

    </span>

  </header>

  <article class="post-content">
    {{ content | safe }}
  </article>

  {% include 'footer-post-nav.njk' %}
</div>
