{% for post in postslist | reverse %}

<section class="post">
  <header class="post-header">
    <p class="post-meta">

      <time class="post-date" datetime="{{ post.date | htmlDateString }}">
        {{ post.date | readableDate | upper }}
      </time>

      {% if post.data.tags.size > 0 %}
      •
      {% endif %}
      {% for tag in post.data.tags %}
        {%- if collections.tagList.indexOf(tag) != -1 -%}
          {% set tagUrl %}/tags/{{ tag }}/{% endset %}
          <a href="{{ tagUrl | url }}" class="post-tag">{{ tag }}</a>
        {%- endif -%}
        {% if not loop.last %}
          •
        {% endif %}
      {% endfor %}
    </p>

    <a href="{{ post.url | url }}" class="postlist-link" title="{{ post.title }}">
      {{ post.data.title }}
    </a>

  </header>

  {% if post.data.page.excerpt %}
  <div class="post-description">
    <p>
      {{ post.data.page.excerpt | md | safe }}
      <a class="normal-text" href="{{ site.url }}{{ post.url }}" alt="see whole post">...</a>
    </p>
  </div>
  {% endif %}

</section>
{% endfor %}
