---
layout: base.njk
---
<h2>Thoughts</h2>
<div class="thoughts">
  <div>
    {% for thought in collections.page-of-thoughts %}
      there's a thought! fo real! 
        <div>{{ thought.templateContent }}</div>
    {% endfor %}
  </div>
</div>
